html,body {
    height: 100%;
    font-weight: 300!important;
    background-color: #F6F6F8 !important;
    color: #000000 !important;
}
  
#leftPanel {
    background: #FFFFFF;
}

.weatherCard {
    height:15em !important;
}

#currentWeatherIcon {
    font-size: 12rem !important;
}

.progress {
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    height: 55px !important;
}

.barOverflow {
    position: relative;
    width: 100px; height: 50px;
    margin-bottom: -14px;
    overflow: hidden;
}

.bar {
    position: absolute;
    top: 0; left: 0;
    width: 100px; height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #ccc;
    border-bottom-color: #17A2B8;
    border-right-color: #17A2B8;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(23, 162, 184, 0.8);
    box-shadow: 0 0 8px rgba(23, 162, 184, 0.6);
    outline: 0 none;
}